<body style="background-color:#154063; padding: 30px 45px 30px 45px;">
    <div style="padding: 10px 10px; border: 2px dashed #fbc6b0; margin-bottom: 15px; border-radius: 10px;">
        <h1 style="font-size: 2.5rem; color: #fbc6b0; text-align: center; width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">O Estrangeiro</h1>
    </div>
    <p style="font-size: 1.6rem; color:#fbc6b0; text-align: center; width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        Obrigado por subscreveres <span style="font-weight: bold">'O Estrangeiro'</span>.<br>
        Serás notificado cada vez que for publicado conteúdo novo!
    </p>
</body>
